secrets.json
__pycache__
pjt3_vegan_recipes/__pycache__
pjt3_vegan_recipes/__pycache__/urls.cpython-38.pyc
pjt3_vegan_recipes/__pycache__/views.cpython-38.pyc
pjt3_vegan_recipes/__pycache__/settings.cpython-38.pyc

